<div class="navbar">
  <ul class="nav-list">
    <li><a routerLink="/admin-actions/book">Book for a User</a></li>
    <li>
      <a routerLink="/admin-actions/mark-unavailable">Mark Unavailable</a>
    </li>
    <li>
      <a routerLink="/admin-actions/upcoming-bookings">Upcoming Bookings</a>
    </li>
    <li><a routerLink="/admin-actions/booking-details">Booking Details</a></li>
    <li>
      <a routerLink="/admin-actions/employee-wise-data"
        >Employee-wise Booking Data</a
      >
    </li>
    <li><a routerLink="/admin-actions/booking-graph">Booking Graph</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
