/* Custom CSS for the second navbar */
.navbar {
    background-color: #062f5b;
    /* Change the background color to your preference */
    padding: 0.5rem 1rem;
    /* Add some padding for spacing */
}

.navbar-nav {
    display: flex;
    align-items: center;
    /* Center the items vertically */
    list-style: none;
}

.nav-item {
    margin-right: 20px;
    /* Add space between menu items */
}

.nav-link {
    color: #FFF;
    /* Change the text color to white */
    text-decoration: none;
    transition: color 0.3s;
    /* Smooth color transition on hover */
}

.nav-link:hover {
    color: #FFD700;
    /* Change text color on hover to gold or your preferred color */
}