<div class="container">
  <h2 class="mt-4">Contact Admin</h2>
  <form (ngSubmit)="submitMessage()" #contactForm="ngForm">
    <div class="form-group">
      <label for="subject">Subject:</label>
      <input
        type="text"
        id="subject"
        name="subject"
        [(ngModel)]="subject"
        required
        class="form-control col-md-6"
      />
    </div>
    <div class="form-group">
      <label for="messageText">Message:</label>
      <textarea
        id="messageText"
        name="messageText"
        [(ngModel)]="messageText"
        required
        class="form-control col-md-6"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="employeeId">Employee ID:</label>
      <input
        type="number"
        id="employeeId"
        name="employeeId"
        [(ngModel)]="employeeId"
        required
        class="form-control col-md-4"
      />
    </div>
    <button
      type="submit"
      [disabled]="!contactForm.valid"
      class="btn btn-primary"
    >
      Submit
    </button>
  </form>
</div>
