<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Hoopy Booking System</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<nav class="navbar">
  <div class="navbar-left">
    <img
      src="./assets/Icons/icons8-workspace-26.png"
      alt="Company Icon"
      class="company-icon"
    />
    <span class="company-name">Company Name</span>
  </div>
  <div class="navbar-right">
    <a routerLinkActive="active-link" class="nav-link" routerLink="/home"
      >Home</a
    >
    <a routerLinkActive="active-link" class="nav-link" routerLink="/about"
      >About Us</a
    >
    <a routerLinkActive="active-link" class="nav-link" routerLink="/signup"
      >Sign Up</a
    >
    <a routerLink="/signin" routerLinkActive="active-link" class="nav-link"
      >Sign In</a
    >
    <a routerLink="/contact" routerLinkActive="active-link" class="nav-link"
      >Contact Us</a
    >
  </div>
</nav>
