<!-- <app-booking></app-booking> -->
<!-- <app-employee-signup></app-employee-signup> -->
<!-- <app-sign-in></app-sign-in> -->
<!-- <app-nav-home></app-nav-home>-->
<!-- <app-home-main></app-home-main> -->
<!-- <app-footer></app-footer> -->
<!-- <app-dummy></app-dummy> -->

<!-- <app-graph></app-graph> -->
<!-- <app-admin-booking></app-admin-booking> -->
<!-- <app-booking-details></app-booking-details> -->
<!-- <app-booking-details-by-id></app-booking-details-by-id> -->
<!-- <app-admin-actions></app-admin-actions> -->
<!-- <app-display-booking-data-for-user></app-display-booking-data-for-user> -->

<!-- <app-booking-cancellation></app-booking-cancellation> -->
<!-- <app-admin-booking-data-by-filters></app-admin-booking-data-by-filters> -->
<app-user-navbar *ngIf="isUser"></app-user-navbar>
<app-admin-actions *ngIf="isAdmin"></app-admin-actions>
<app-home-main *ngIf="!(isAdmin || isUser)"></app-home-main>
<router-outlet></router-outlet>
<!-- <app-booking-cancellation></app-booking-cancellation>
<app-booking-details></app-booking-details> -->
<!-- <app-contact-admin></app-contact-admin> -->
<!-- <app-user-messages></app-user-messages> -->
<!-- <app-user-navbar *ngIf="currentRoute === 'user'"></app-user-navbar>
<app-admin-actions *ngIf="currentRoute === 'admin'"></app-admin-actions>
<app-home-main *ngIf="currentRoute === 'home'"></app-home-main> -->
