<div class="container">
  <h1>Booking Data</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Booking Date</th>
        <th>Booked Room</th>
        <th>Booked Workspace</th>
        <th>Employee ID</th>
        <th>Person Name</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <!-- Loop through the data and populate the table rows -->
      <tr *ngFor="let booking of bookings">
        <td>{{ booking.bookingId }}</td>
        <td>{{ booking.bookingDate | date : "yyyy-MM-dd" }}</td>
        <td>{{ booking.bookedRoom }}</td>
        <td>{{ booking.bookedWorkspace }}</td>
        <td>{{ booking.employeeId }}</td>
        <td>{{ booking.personName }}</td>
        <td>{{ booking.status }}</td>
        <button (click)="deleteBooking(booking.bookingId)">Delete</button>
      </tr>
    </tbody>
  </table>
</div>
