<div class="booking-details">
  <h2>Booking Details</h2>
  <!-- <p><strong>Booking ID:</strong> {{ bookingId }}</p> -->
  <p>
    <strong>Booking Date:</strong>
    {{ bookingDate }}
  </p>
  <p><strong>Booking Time:</strong> {{ bookingTime }}</p>
  <p><strong>Booked Room:</strong> {{ bookedRoom }}</p>
  <p><strong>Booked Workspace:</strong> {{ bookedWorkspace }}</p>
   <p><strong>Employee ID:</strong> {{ employeeId }}</p> 
  <p><strong>Employee Name:</strong> {{ employeeName }}</p>
  <p><strong>Status:</strong> {{ status }}</p>
</div>  
